*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    background-color: white;
    width: 100%;
    max-width: 540px;
    border-radius: 10px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 20px;
}

.row button{
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    padding: 16px 50px 16px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    user-select: none;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: ' ';
    height: 28px;
    width: 28px;
    position: absolute;
    top: 12px;
    left: 8px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
}

.checked{
    color: #555;
    text-decoration: line-through;
}
.checked::before{
    background-image: url(images/checked.png);
}
